* {
  margin: 0;
  padding:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 50px;
  justify-content: center;
}

.menu-button {
  display: flex;
  background-color: blanchedalmond;
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: darkgoldenrod;
  border-style: dotted;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.game-button {
  position:absolute;
  background-color: blanchedalmond;
  bottom: 15px;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border-color: darkgoldenrod;
  border-style: dotted;
  align-items: center;
}

.close{
  cursor: pointer;
  position: absolute;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  border-radius: 19px;
  border: 1px solid #cfcece;
}

.health{
  border-radius: 5px;
  border: 1px solid darkgoldenrod;
  width: 250px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 25px;
  background-color: blanchedalmond;
  padding: 2px;
  overflow-x: hidden;
}

.health::-webkit-progress-bar{
  background-color: floralwhite;
  border-radius:3px;
}

.health::-webkit-progress-value{
  background-color: #bc544b;
  border-radius: 3px;
}

.rectangle{
  width: 100%;
  height: 21%;
  position:absolute;
  bottom: 0px;
  background-color: rosybrown;
  opacity: .40;
  overflow-x: hidden;
}

.rule-button {
  position:absolute;
  background-color: blanchedalmond;
  top: 20px;
  right: 10px;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border-color: darkgoldenrod;
  border-style: dotted;
  align-items: center;
}